[submodule "BBMOD_GML/Xpanda"]
	path = BBMOD_GML/Xpanda
	url = https://github.com/GameMakerDiscord/Xpanda.git
[submodule "BBMOD_CPP/external/assimp"]
	path = BBMOD_CPP/external/assimp
	url = https://github.com/assimp/assimp.git
