[submodule "BBMOD_CLI/external/assimp"]
	path = BBMOD_CPP/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "BBMOD_CPP/external/bullet3"]
	path = BBMOD_CPP/external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "BBMOD_CPP/external/recastnavigation"]
	path = BBMOD_CPP/external/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
